/*
Kevin Meza
Module 7 Assignment
January 28, 2024
CSD340
*/

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
header {
    background-color: #3668BC;
    color: #F9D691;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    background-color: #FABD45;
    border-bottom: #BC8236 solid 15px;
    overflow: hidden;
}

#navbar a {
    color: #3668BC;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card-title {
    color: #2F67A2;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer  {
    background-color: #3668BC;
    color: #F9D691;
    float: right;
    font-style: italic;
    font-weight: 400;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #F9D691;
    font-style: italic;
    font-weight: 400;
    float: right;
    padding-right: 10px;
}

footer a {
    text-decoration: none;
    color: #FABD45;
}

footer a:hover {
    text-decoration: underline;
}